:host {
  position: absolute;
  left: calc(var(--spacing) * 2);
  bottom: calc(var(--spacing) * 2);
  display: flex;
  gap: var(--spacing);
  background-color: var(--gray1);
  padding: calc(var(--spacing) * 2) var(--spacing);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #00000077;
}

.animal-button {
  background-color: #ffffff;
  position: relative;
  padding: var(--spacing);
  box-shadow: 0px 0px 10px #00000077;
  border-radius: 10px;
  border: 0;
}

.animal-button:hover {
  background-color: var(--gray1);
  cursor: pointer;
}

.count {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  color: #000000;
}
