@font-face {
  font-family: Bodo;
  src: url("/BodoAmat.ttf");
}

:root {
  --gray1: #eeeeee;
  --gray2: #d2d2d2;
  --gray3: #929292;
  --spacing: 15px;
}

* {
  font-family: Bodo;
}


body {
  margin: 0;
}
